<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<sectionGroup name="applicationSettings"
		              type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="RAGDataIngestionWPF.Properties.Settings"
			         type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
			         requirePermission="false" />
			<section name="RAGDataIngestionWPF.Properties.Settings1"
			         type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
			         requirePermission="false" />
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<RAGDataIngestionWPF.Properties.Settings>
			<setting name="OllamaHost" serializeAs="String">
				<value>http://127.0.0.1</value>
			</setting>
			<setting name="OllamaPort" serializeAs="String">
				<value>11434</value>
			</setting>
			<setting name="ChatModel" serializeAs="String">
				<value>llama3.2:3b</value>
			</setting>
			<setting name="EmbeddingModel" serializeAs="String">
				<value>mxbai-embed-large:latest</value>
			</setting>
			<setting name="SessionBudget" serializeAs="String">
				<value>100000</value>
			</setting>
			<setting name="SystemBudget" serializeAs="String">
				<value>5000</value>
			</setting>
			<setting name="RAGBudget" serializeAs="String">
				<value>10000</value>
			</setting>
			<setting name="ToolBudget" serializeAs="String">
				<value>3000</value>
			</setting>
			<setting name="MetaBudget" serializeAs="String">
				<value>2000</value>
			</setting>
			<setting name="LearnBaseUrl" serializeAs="String">
				<value>https://learn.microsoft.com/en-us/agent-framework/</value>
			</setting>
			<setting name="LogDirectory" serializeAs="String">
				<value>\logs</value>
			</setting>
			<setting name="LogName" serializeAs="String">
				<value>AgenticLogs.log</value>
			</setting>
			<setting name="MaximumContext" serializeAs="String">
				<value>130000</value>
			</setting>
			<setting name="AgentId" serializeAs="String">
				<value>Agentic-Max</value>
			</setting>
			<setting name="ApplicationId" serializeAs="String">
				<value>15a53d0f-041d-44dd-a150-dfb8d0f133ff</value>
			</setting>
			<setting name="LastConversationId" serializeAs="String">
				<value>15a53d0d-041d-44dd-a150-ddb8d0d133dd</value>
			</setting>
			<setting name="UserName" serializeAs="String">
				<value>TommyCat</value>
			</setting>
			<setting name="ChatHistoryConnectionString" serializeAs="String">
				<value />
			</setting>
			<setting name="RemoteRAGConnectionString" serializeAs="String">
				<value />
			</setting>
			<setting name="ResumeLast" serializeAs="String">
				<value>True</value>
			</setting>
		</RAGDataIngestionWPF.Properties.Settings>
		<RAGDataIngestionWPF.Properties.Settings1>
			<setting name="OllamaHost" serializeAs="String">
				<value />
			</setting>
			<setting name="OllamaPort" serializeAs="String">
				<value />
			</setting>
		</RAGDataIngestionWPF.Properties.Settings1>
	</applicationSettings>

	<system.diagnostics>
		<sources>
			<source name="System.Windows.Media" switchValue="All">
				<listeners>
					<add name="consoleListener" />
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<add name="consoleListener"
			     type="System.Diagnostics.ConsoleTraceListener" />
		</sharedListeners>
	</system.diagnostics>
</configuration>