USE [AIDataRAG]
GO
/****** Object:  StoredProcedure [dbo].[sp_RecalculateRAGScores]    Script Date: 3/27/2026 1:09:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   PROCEDURE [dbo].[sp_RecalculateRAGScores]
    @DocumentId UNIQUEIDENTIFIER = NULL,  -- NULL = all documents
    @ForceRecalculation BIT = 0           -- 1 = recalc even if score exists
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @RowsAffected INT;
    
    UPDATE r WITH (ROWLOCK)
    SET score = (
        -- Same scoring logic as trigger
        CASE 
            WHEN r.ms_date >= DATEADD(MONTH, -1, GETDATE()) THEN 1.0
            WHEN r.ms_date >= DATEADD(MONTH, -3, GETDATE()) THEN 0.8
            WHEN r.ms_date >= DATEADD(MONTH, -6, GETDATE()) THEN 0.6
            WHEN r.ms_date >= DATEADD(YEAR, -1, GETDATE()) THEN 0.4
            ELSE 0.2
        END * 0.30 +
        (
            (CASE WHEN r.summary IS NOT NULL AND LEN(r.summary) > 100 THEN 1 ELSE 0 END) +
            (CASE WHEN r.keywords IS NOT NULL AND LEN(r.keywords) > 0 THEN 1 ELSE 0 END) +
            (CASE WHEN r.description IS NOT NULL AND LEN(r.description) > 100 THEN 1 ELSE 0 END) +
            (CASE WHEN r.embedding IS NOT NULL THEN 1 ELSE 0 END)
        ) / 4.0 * 0.25 +
        CASE 
            WHEN r.token_count BETWEEN 100 AND 2000 THEN 1.0
            WHEN r.token_count BETWEEN 50 AND 100 THEN 0.8
            WHEN r.token_count BETWEEN 2000 AND 4000 THEN 0.8
            WHEN r.token_count > 0 THEN 0.5
            ELSE 0.0
        END * 0.20 +
        CASE 
            WHEN r.version >= 2 THEN 1.0
            WHEN r.version = 1 THEN 0.7
            ELSE 0.5
        END * 0.15 +
        0.10
    )
    FROM dbo.RemoteRAG r
    WHERE (@DocumentId IS NULL OR r.document_id = @DocumentId)
      AND (@ForceRecalculation = 1 OR r.score IS NULL);
    
    SET @RowsAffected = @@ROWCOUNT;
    
    PRINT 'Scores recalculated for ' + CAST(@RowsAffected AS VARCHAR(10)) + ' documents';
    
    RETURN @RowsAffected;
END;
GO
