USE [AIDataRAG]
GO
/****** Object:  StoredProcedure [dbo].[Search_RAG_Advanced]    Script Date: 3/27/2026 1:09:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Create comprehensive search procedure with score filtering
CREATE   PROCEDURE [dbo].[Search_RAG_Advanced]
    @QueryText NVARCHAR(MAX),
    @SearchType VARCHAR(20) = 'hybrid',  -- 'vector', 'fulltext', 'hybrid'
    @MinScore FLOAT = NULL,               -- Filter by minimum relevance score
    @MaxResults INT = 20,
    @DateFrom DATETIME2 = NULL,
    @DateTo DATETIME2 = NULL,
    @Keywords NVARCHAR(1000) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @QueryEmbedding VECTOR(1024);
    
    -- Generate query embedding
    SELECT @QueryEmbedding = CAST(AI_GENERATE_EMBEDDINGS(@QueryText USE MODEL MXEMBED) AS VECTOR(1024));
    
    -- Execute search based on type
    IF @SearchType = 'vector'
    BEGIN
        -- Pure vector search
        SELECT TOP (@MaxResults)
            r.id,
            r.document_id,
            r.title,
            r.summary,
            r.keywords,
            r.og_url,
            r.ms_date,
            r.score AS relevance_score,
            VECTOR_DISTANCE('cosine', r.embedding, @QueryEmbedding) AS vector_distance
        FROM dbo.RemoteRAG r
        WHERE embedding IS NOT NULL
          AND (@MinScore IS NULL OR r.score >= @MinScore)
          AND (@DateFrom IS NULL OR r.ms_date >= @DateFrom)
          AND (@DateTo IS NULL OR r.ms_date <= @DateTo)
          AND (@Keywords IS NULL OR r.keywords LIKE '%' + @Keywords + '%')
        ORDER BY VECTOR_DISTANCE('cosine', r.embedding, @QueryEmbedding) ASC;
    END
    ELSE IF @SearchType = 'fulltext'
    BEGIN
        -- Pure full-text search
        DECLARE @FTQuery NVARCHAR(4000) = REPLACE(REPLACE(REPLACE(@QueryText, '?', ''), ',', ''), '.', '');
        DECLARE @FTSearch NVARCHAR(4000);
        
        SELECT @FTSearch = (
            SELECT STRING_AGG(value, ' AND ')
            FROM STRING_SPLIT(@FTQuery, ' ')
            WHERE LEN(value) > 2
        );
        
        SELECT TOP (@MaxResults)
            r.id,
            r.document_id,
            r.title,
            r.summary,
            r.keywords,
            r.og_url,
            r.ms_date,
            r.score AS relevance_score,
            ft.RANK AS fulltext_rank
        FROM dbo.RemoteRAG r
        INNER JOIN CONTAINSTABLE(dbo.RemoteRAG, (title, description, summary, keywords), @FTSearch) AS ft
            ON r.id = ft.[KEY]
        WHERE (@MinScore IS NULL OR r.score >= @MinScore)
          AND (@DateFrom IS NULL OR r.ms_date >= @DateFrom)
          AND (@DateTo IS NULL OR r.ms_date <= @DateTo)
          AND (@Keywords IS NULL OR r.keywords LIKE '%' + @Keywords + '%')
        ORDER BY ft.RANK DESC;
    END
    ELSE -- hybrid (default)
    BEGIN
        -- Execute existing hybrid search with filters
        EXEC dbo.Search_Hybrid 
            @Query = @QueryText,
            @QueryEmbedding = @QueryEmbedding,
            @TopN = @MaxResults;
    END
END;
GO
