USE [AIDataRAG]
GO
/****** Object:  StoredProcedure [dbo].[Search_FullText]    Script Date: 3/27/2026 1:09:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/******************************************************************************************
  Procedure:   dbo.Search_FullText
  Purpose:     Perform ranked keyword search using SQL Server Full‑Text Search.
  Author:      Kyle
  Created:     2026‑03‑04
  Description:
      Uses CONTAINSTABLE to compute keyword relevance ranking across title, description,
      summary, and keywords. Higher RANK = more relevant.

  Parameters:
      @Query   NVARCHAR(4000)   -- Full‑text query syntax (e.g., '"agent" OR "workflow"')
      @TopN    INT              -- Number of results to return (default 20)

  Returns:
      id, title, summary, keywords, ft_rank
******************************************************************************************/
CREATE   PROCEDURE [dbo].[Search_FullText]
    @Query NVARCHAR(4000),
    @TopN INT = 20
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP (@TopN)
        r.id,
        r.title,
        r.summary,
        r.keywords,
        ft.RANK AS ft_rank
    FROM CONTAINSTABLE(
            dbo.RemoteRAG,
            (title, description, summary, keywords),
            @Query
         ) AS ft
    JOIN dbo.RemoteRAG r
        ON r.id = ft.[KEY]
    ORDER BY ft.RANK DESC;
END;
GO
