USE [AIDataRAG]
GO
/****** Object:  StoredProcedure [dbo].[sp_Update_md_Embeddings]    Script Date: 3/27/2026 1:09:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_Update_md_Embeddings]
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	SET NOCOUNT ON;

	-- Generate and store embeddings for document chunks with NULL embeddings
	UPDATE mds
	SET embeddings = CAST(AI_GENERATE_EMBEDDINGS(mds.content USE MODEL MXEMBED) AS VECTOR(1024))
	FROM dbo.md_document_chunks mds
	WHERE mds.embeddings IS NULL;
	 

END
GO
