USE [AIDataRAG]
GO
/****** Object:  StoredProcedure [dbo].[sp_GenerateKeywords]    Script Date: 3/27/2026 1:09:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Kyle Crowder
-- Create date: 3/22/26
-- Description:	Creates keywords using an external LLM model on local machine
-- =============================================
CREATE   PROCEDURE [dbo].[sp_GenerateKeywords]
    @ChunkId UNIQUEIDENTIFIER,
    @Content NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @prompt NVARCHAR(MAX) =
        N'You are a documentation specialist. You will be given a block of text that you are to extract 5-10 keywords from. You will ONLY respond with those keywords separated by commas. Do Not add any other text like here are your keywords.'
        + CHAR(13) + CHAR(10)
        + COALESCE(@Content, N'');

    DECLARE @payload NVARCHAR(MAX) =
        N'{"model":"llama3.2:3b","prompt":"'
        + STRING_ESCAPE(@prompt, 'json')
        + N'","stream":false}';

    DECLARE @headers NVARCHAR(4000) =
        N'{"Content-Type":"application/json"}';

    DECLARE @response NVARCHAR(MAX);
    DECLARE @keywords NVARCHAR(MAX);

    SELECT @payload AS PayloadToSend;

    EXEC sys.sp_invoke_external_rest_endpoint
        @method = N'POST',
        @url = N'https://127.0.0.1/api/generate',
        @headers = @headers,
        @payload = @payload,
        @response = @response OUTPUT;

SELECT @response AS RawResponse;

    IF ISJSON(@response) <> 1
    BEGIN
        THROW 50000, N'The endpoint returned non-JSON or streaming output. Inspect @response.', 1;
    END;

    SET @keywords = JSON_VALUE(@response, N'$.result.response');

    UPDATE dbo.md_document_chunks
    SET Keywords = @keywords
    WHERE chunk_id = @ChunkId;
END
GO
