USE [AIDataRAG]
GO
/****** Object:  Table [dbo].[md_document_chunks]    Script Date: 3/27/2026 1:09:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[md_document_chunks](
	[chunk_id] [uniqueidentifier] NOT NULL,
	[doc_id] [uniqueidentifier] NOT NULL,
	[chunk_index] [int] NOT NULL,
	[heading_path] [nvarchar](1024) NULL,
	[heading] [nvarchar](512) NULL,
	[heading_level] [tinyint] NULL,
	[chunk_type] [nvarchar](16) NOT NULL,
	[language] [nvarchar](64) NULL,
	[content] [nvarchar](max) NOT NULL,
	[token_count] [int] NULL,
	[keywords] [nvarchar](max) NULL,
	[summary] [nvarchar](4000) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[embeddings] [vector](1024, float32) NULL,
 CONSTRAINT [PK_md_document_chunks] PRIMARY KEY CLUSTERED 
(
	[chunk_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_md_document_chunks_doc_id_chunk_type]    Script Date: 3/27/2026 1:09:02 AM ******/
CREATE NONCLUSTERED INDEX [IX_md_document_chunks_doc_id_chunk_type] ON [dbo].[md_document_chunks]
(
	[doc_id] ASC,
	[chunk_type] ASC
)
INCLUDE([chunk_id],[token_count],[heading_path]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_md_document_chunks_doc_id_index]    Script Date: 3/27/2026 1:09:02 AM ******/
CREATE NONCLUSTERED INDEX [IX_md_document_chunks_doc_id_index] ON [dbo].[md_document_chunks]
(
	[doc_id] ASC,
	[chunk_index] ASC
)
INCLUDE([chunk_id],[chunk_type],[heading_path],[heading]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[md_document_chunks] ADD  CONSTRAINT [DF_md_document_chunks_chunk_id]  DEFAULT (newsequentialid()) FOR [chunk_id]
GO
ALTER TABLE [dbo].[md_document_chunks] ADD  CONSTRAINT [DF_md_document_chunks_chunk_type]  DEFAULT (N'text') FOR [chunk_type]
GO
ALTER TABLE [dbo].[md_document_chunks] ADD  CONSTRAINT [DF_md_document_chunks_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[md_document_chunks]  WITH CHECK ADD  CONSTRAINT [CK_md_document_chunks_chunk_type] CHECK  (([chunk_type]=N'code' OR [chunk_type]=N'text'))
GO
ALTER TABLE [dbo].[md_document_chunks] CHECK CONSTRAINT [CK_md_document_chunks_chunk_type]
GO
ALTER TABLE [dbo].[md_document_chunks]  WITH CHECK ADD  CONSTRAINT [CK_md_document_chunks_heading_level] CHECK  (([heading_level] IS NULL OR [heading_level]>=(1) AND [heading_level]<=(6)))
GO
ALTER TABLE [dbo].[md_document_chunks] CHECK CONSTRAINT [CK_md_document_chunks_heading_level]
GO
