USE [AIDataRAG]
GO
/****** Object:  StoredProcedure [dbo].[Search_Vector]    Script Date: 3/27/2026 1:09:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/******************************************************************************************
  Procedure:   dbo.Search_Vector
  Purpose:     Perform vector‑based semantic similarity search using the embedding column.
  Author:      Kyle
  Modified By: GitHub Copilot
  Created:     2026‑03‑04
  Modified:    2026‑03‑11
  Description: 
      Accepts query text, generates embedding using MXEMBED model, then uses 
      SQL Server's VECTOR_DISTANCE function to compute semantic similarity 
      between the query embedding and stored embeddings. Lower distance = more similar.

  Parameters:
      @QueryText        NVARCHAR(MAX)    -- Text to generate embedding from
      @TopN             INT              -- Number of results to return (default 20)

  Returns:
      id, title, summary, keywords, og_url, vector_distance
******************************************************************************************/
CREATE PROCEDURE [dbo].[Search_Vector]
    @QueryText NVARCHAR(MAX),
    @TopN INT = 20
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @QueryEmbedding VECTOR(1024);

    -- Generate embedding from the query text using the MXEMBED model
    SELECT @QueryEmbedding = CAST(AI_GENERATE_EMBEDDINGS(@QueryText USE MODEL MXEMBED) as Vector(1024));

    -- Perform vector similarity search
    SELECT TOP (@TopN)
        r.id,
        r.title,
        r.summary,
        r.keywords,
        r.og_url,
        VECTOR_DISTANCE('cosine', r.embedding, @QueryEmbedding) AS vector_distance   -- lower = better
    FROM dbo.RemoteRAG r
    ORDER BY VECTOR_DISTANCE('cosine', r.embedding, @QueryEmbedding) ASC;


END;
GO
