USE [AIDataRAG]
GO
/****** Object:  StoredProcedure [dbo].[Search_Hybrid]    Script Date: 3/27/2026 1:09:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Fix critical parameter mismatch (1536 -> 1024)
CREATE PROCEDURE [dbo].[Search_Hybrid]
    @Query NVARCHAR(4000),
    @QueryEmbedding VECTOR(1024),  -- FIXED: Changed from VECTOR(1536)
    @TopN INT = 20
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @FTQuery NVARCHAR(4000);
    DECLARE @FTSearch NVARCHAR(4000);

    -- Clean punctuation for FT search
    SET @FTQuery = REPLACE(REPLACE(REPLACE(@Query, '?', ''), ',', ''), '.', '');

    -- Convert to AND-joined tokens for FT
    SELECT @FTSearch = (
        SELECT STRING_AGG(value, ' AND ')
        FROM STRING_SPLIT(@FTQuery, ' ')
        WHERE LEN(value) > 2
    );

    -- Full-text relevance
    ;WITH FT AS (
        SELECT
            ft.[KEY] AS id,
            ft.RANK AS ft_rank
        FROM CONTAINSTABLE(
                dbo.RemoteRAG,
                (title, description, summary, keywords),
                @FTSearch
             ) AS ft
    ),
    -- Vector similarity
    VS AS (
        SELECT
            r.id,
            VECTOR_DISTANCE('cosine', r.embedding, @QueryEmbedding) AS vector_distance
        FROM dbo.RemoteRAG r
    ),
    -- Semantic similarity
    SS AS (
        SELECT
            ss.matched_document_key AS id,
            SUM(ss.score) AS semantic_score
        FROM SEMANTICSIMILARITYTABLE(
                dbo.RemoteRAG,
                (title, description, summary, keywords),
                NULL
             ) AS ss
        GROUP BY ss.matched_document_key
    ),
    -- Keyphrase overlap
    SK AS (
        SELECT
            sk.document_key AS id,
            SUM(sk.score) AS keyphrase_score
        FROM SEMANTICKEYPHRASETABLE(
                dbo.RemoteRAG,
                (title, description, summary, keywords)
             ) AS sk
        WHERE sk.keyphrase IN (
            SELECT value FROM STRING_SPLIT(
                REPLACE(REPLACE(@Query, ',', ' '), '_', ' '),
                ' '
            )
        )
        GROUP BY sk.document_key
    )
    -- Final unified ranking
    SELECT TOP (@TopN)
        r.id,
        r.title,
        r.summary,
        r.keywords,
        ISNULL(ft.ft_rank, 0) AS ft_rank,
        vs.vector_distance,
        ISNULL(ss.semantic_score, 0) AS semantic_score,
        ISNULL(sk.keyphrase_score, 0) AS keyphrase_score,
        (
            ISNULL(ft.ft_rank, 0) * 0.35 +
            (1.0 - vs.vector_distance) * 0.45 +
            ISNULL(ss.semantic_score, 0) * 0.15 +
            ISNULL(sk.keyphrase_score, 0) * 0.05
        ) AS hybrid_score
    FROM dbo.RemoteRAG r
    LEFT JOIN FT ft ON ft.id = r.id
    LEFT JOIN VS vs ON vs.id = r.id
    LEFT JOIN SS ss ON ss.id = r.id
    LEFT JOIN SK sk ON sk.id = r.id
    ORDER BY hybrid_score DESC;
END;
GO
