USE [AIDataRAG]
GO
/****** Object:  StoredProcedure [dbo].[sp_SafeCalculateRAGScores]    Script Date: 3/27/2026 1:09:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   PROCEDURE [dbo].[sp_SafeCalculateRAGScores]
AS




BEGIN
   DROP INDEX [VIX_RemoteRAG_embedding] ON [dbo].[RemoteRAG]

END

-- Execute the recalculation
EXEC [dbo].[sp_RecalculateRAGScores] @ForceRecalculation = 1;

-- Rebuild vector index

BEGIN
   /****** Object:  Index [VIX_RemoteRAG_embedding]    Script Date: 3/11/2026 11:31:36 PM ******/
CREATE VECTOR INDEX [VIX_RemoteRAG_embedding] ON [dbo].[RemoteRAG]
(
	[embedding]
)WITH (METRIC = 'COSINE', TYPE = 'DiskANN') ON [PRIMARY]
ALTER INDEX [VIX_RemoteRAG_embedding] ON [dbo].[RemoteRAG] REBUILD
END


GO
