USE [AIChatHistory]
GO
/****** Object:  StoredProcedure [dbo].[sp_GenerateSummary]    Script Date: 3/27/2026 12:39:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_GenerateSummary]
    @MessageId UNIQUEIDENTIFIER,
    @Content NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @prompt NVARCHAR(MAX) =
        N'You are a documentation specialist. You will be given message from chat. Summarize the text in 1-2 short, sentences.'
        + CHAR(13) + CHAR(10)
        + COALESCE(@Content, N'');

    DECLARE @payload NVARCHAR(MAX) =
        N'{"model":"llama3.2:3b","prompt":"'
        + STRING_ESCAPE(@prompt, 'json')
        + N'","stream":false}';

    DECLARE @headers NVARCHAR(4000) =
        N'{"Content-Type":"application/json"}';

    DECLARE @response NVARCHAR(MAX);
    DECLARE @summary NVARCHAR(MAX);

    EXEC sys.sp_invoke_external_rest_endpoint
        @method = N'POST',
        @url = N'https://127.0.0.1/api/generate',
        @headers = @headers,
        @payload = @payload,
        @response = @response OUTPUT;

    IF ISJSON(@response) <> 1
    BEGIN
        THROW 50000, N'The endpoint returned non-JSON or streaming output. Inspect @response.', 1;
    END;

    SET @summary = JSON_VALUE(@response, N'$.result.response');

    UPDATE dbo.ChatHistoryMessages
    SET Summary = @summary
    WHERE MessageId = @MessageId;
END
GO
