USE [AIChatHistory]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetLastConversationId]    Script Date: 3/27/2026 12:39:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
	CREATE PROCEDURE [dbo].[sp_GetLastConversationId](
	@applicationId nvarchar(100),
	@userId nvarchar(100),
	@agentId nvarchar(100),
	@conversationId nvarchar(100) OUTPUT)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT top 1 @conversationId = ConversationId from ChatHistoryMessages where ApplicationId = @applicationId and UserId = @userId and AgentId = @agentId order by CreatedAt desc;
END
GO
