USE [AIChatHistory]
GO
/****** Object:  StoredProcedure [dbo].[sp_Search_FreeText]    Script Date: 3/27/2026 12:39:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_Search_FreeText]
    @Query NVARCHAR(4000),
    @TopN INT = 20
AS
BEGIN
    SET NOCOUNT ON;

    -- Use FREETEXTTABLE for short, natural-language chat messages
    SELECT TOP (@TopN)
        r.Id,
        r.Content,
        r.Summary,
        r.Keywords,
        ft.RANK AS ft_rank
    FROM FREETEXTTABLE(
            dbo.ChatHistoryMessages,
            (Content, Summary, Keywords),
            @Query
         ) AS ft
    INNER JOIN dbo.ChatHistoryMessages r
        ON r.Id = ft.[KEY]
    ORDER BY ft.RANK DESC;
END;
GO
