USE [AIChatHistory]
GO
/****** Object:  StoredProcedure [dbo].[sp_Search_Hybrid]    Script Date: 3/27/2026 12:39:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Search_Hybrid]
    @Query NVARCHAR(4000),
    @Embedding VECTOR(1024),
    @TopN INT = 50
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        --------------------------------------------------------------------
        -- Stage 1 + Stage 2: Hybrid scoring
        --------------------------------------------------------------------
        IF OBJECT_ID('tempdb..#Stage2') IS NOT NULL DROP TABLE #Stage2;

        CREATE TABLE #Stage2
        (
            Id int,
            Content NVARCHAR(MAX),
            Summary NVARCHAR(MAX),
            Keywords NVARCHAR(MAX),
            ft_rank INT,
            bm25_score FLOAT,
            vector_score FLOAT,
            hybrid_score FLOAT
        );

        ;WITH ft AS (
            SELECT TOP (@TopN)
                r.Id,
                r.Content,
                r.Summary,
                r.Keywords,
                r.Embedding,
                ft.RANK AS ft_rank
            FROM FREETEXTTABLE(
                    dbo.ChatHistoryMessages,
                    (Content, Summary, Keywords),
                    @Query
                 ) AS ft
            INNER JOIN dbo.ChatHistoryMessages r
                ON r.Id = ft.[KEY]
            ORDER BY ft.RANK DESC
        ),
        vec AS (
            SELECT
                f.*,
                1 - VECTOR_DISTANCE('COSINE', f.Embedding, @Embedding) AS vector_score
            FROM ft f
        ),
        bm AS (
            SELECT
                v.*,
                aichathistory.dbo.fn_BM25(v.Content, @Query) AS bm25_score
            FROM vec v
        ),
        ranked AS (
            SELECT
                *,
                (0.40 * bm25_score) +
                (0.60 * vector_score) AS hybrid_score
            FROM bm
        )
        INSERT INTO #Stage2 (
            Id,
            Content,
            Summary,
            Keywords,
            ft_rank,
            bm25_score,
            vector_score,
            hybrid_score
        )
        SELECT TOP (@TopN)
            Id,
            Content,
            Summary,
            Keywords,
            ft_rank,
            bm25_score,
            vector_score,
            hybrid_score
        FROM ranked
        ORDER BY hybrid_score DESC;

        --------------------------------------------------------------------
        -- Final output
        --------------------------------------------------------------------
        SELECT 
            Id,
            Content,
            Summary,
            Keywords,
            ft_rank,
            bm25_score,
            vector_score,
            hybrid_score
        FROM #Stage2
        ORDER BY hybrid_score DESC;

    END TRY
    BEGIN CATCH
        --------------------------------------------------------------------
        -- Structured error output
        --------------------------------------------------------------------
        SELECT 
            ErrorMessage = ERROR_MESSAGE(),
            ErrorNumber  = ERROR_NUMBER(),
            ErrorSeverity = ERROR_SEVERITY(),
            ErrorState    = ERROR_STATE(),
            ErrorLine     = ERROR_LINE(),
            ProcedureName = ERROR_PROCEDURE();
    END CATCH
END;
GO
