USE [AIChatHistory]
GO
/****** Object:  StoredProcedure [dbo].[sp_Search_FullText_Keywords]    Script Date: 3/27/2026 12:39:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/******************************************************************************************
  Procedure:   dbo.Search_SemanticKeyPhrases
  Purpose:     Retrieve semantic keyphrases extracted by SQL Server Semantic Search.
  Author:      Kyle
  Created:     2026‑03‑04
  Description:
      Returns keyphrases and their importance scores for a specific document. 
      Useful for debugging, tagging, and hybrid scoring.

  Parameters:
      @DocumentId   INT   -- Primary key of the document in RemoteRAG

  Returns:
      column_id, document_key, keyphrase, score
******************************************************************************************/
CREATE PROCEDURE [dbo].[sp_Search_FullText_Keywords]
    @Query NVARCHAR(4000),
    @TopN INT = 20
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP (@TopN)
        r.Id,
        r.Content,
        r.Summary,
        r.Keywords,
        ft.RANK AS ft_rank
    FROM CONTAINSTABLE(
            dbo.ChatHistoryMessages,
            (Content, Summary, Keywords),
            @Query
         ) AS ft
    INNER JOIN dbo.ChatHistoryMessages r
        ON r.Id = ft.[KEY]
    ORDER BY ft.RANK DESC;
END;
GO
