USE [AIChatHistory]
GO
/****** Object:  Table [dbo].[ChatHistoryMessages]    Script Date: 3/27/2026 12:39:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatHistoryMessages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MessageId] [uniqueidentifier] NOT NULL,
	[ConversationId] [nvarchar](128) NOT NULL,
	[SessionId] [nvarchar](128) NULL,
	[AgentId] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ApplicationId] [nvarchar](128) NOT NULL,
	[Role] [nvarchar](32) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[TimestampUtc] [datetimeoffset](7) NOT NULL,
	[Metadata] [nvarchar](max) NULL,
	[Enabled] [bit] NULL,
	[Embedding] [vector](1024, float32) NULL,
	[Summary] [nvarchar](2000) NULL,
	[Keywords] [nvarchar](400) NULL,
 CONSTRAINT [PK_ChatHistory_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChatHistoryMessages] ADD  CONSTRAINT [DF_ChatHistoryMessages_Enabled]  DEFAULT ((0)) FOR [Enabled]
GO
