USE [AIChatHistory]
GO
/****** Object:  StoredProcedure [dbo].[sp_Generate_Vector]    Script Date: 3/27/2026 12:39:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Kyle Crowder
-- Create date: 3/10/26
-- Description:	Generate vector to search with
-- =============================================
CREATE PROCEDURE [dbo].[sp_Generate_Vector] 
	-- Add the parameters for the stored procedure here
	@Query nvarchar,
	@Embedding VECTOR(1024) OUTPUT

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	set @Embedding = (SELECT CAST( AI_GENERATE_EMBEDDINGS(@Query USE MODEL MXEMBED) as Vector(1024)) AS QueryEmbedding)

END
GO
