USE [AIChatHistory]
GO
/****** Object:  Trigger [dbo].[tr_generate_keywords]    Script Date: 3/24/2026 11:53:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Kyle Crowder
-- Create date: 3/22/2026
-- Description:	Trigger generates keywords for newly inserted or updated chat messages
-- =============================================
ALTER TRIGGER [dbo].[tr_generate_keywords]
ON [dbo].[ChatHistoryMessages]
AFTER INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    IF TRIGGER_NESTLEVEL() > 1 RETURN;

    IF NOT UPDATE(Keywords) RETURN;

    DECLARE @MessageId UNIQUEIDENTIFIER;
    DECLARE @Content NVARCHAR(MAX);

    -- Loop through every row in inserted
    DECLARE c CURSOR LOCAL FAST_FORWARD FOR
        SELECT MessageId, Content 
        FROM inserted;

    OPEN c;

    FETCH NEXT FROM c INTO @MessageId, @Content;

    WHILE @@FETCH_STATUS = 0
    BEGIN TRY
        -- Call the stored procedure for each row
        EXEC sp_GenerateKeywords @MessageId, @Content;
        
        FETCH NEXT FROM c INTO @MessageId, @Content;
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR('Error generating keywords for MessageId %s: %s', 16, 1, @MessageId, @ErrorMessage);
    END CATCH

    CLOSE c;
    DEALLOCATE c;
 END
