USE [AIChatHistory]
GO
/****** Object:  Trigger [dbo].[tr_generate_summaries]    Script Date: 3/24/2026 12:07:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Kyle Crowder
-- Create date: 3/20/26
-- Description:	Keeps tables summaries populated
-- =============================================
ALTER TRIGGER [dbo].[tr_generate_summaries]
ON [dbo].[ChatHistoryMessages]
AFTER INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    IF TRIGGER_NESTLEVEL() > 1 RETURN;

    IF NOT UPDATE(Content) RETURN;

    DECLARE @MessageId UNIQUEIDENTIFIER;
    DECLARE @Content NVARCHAR(MAX);

    -- Loop through every row in inserted
    DECLARE c CURSOR LOCAL FAST_FORWARD FOR
        SELECT MessageId, Content
        FROM inserted;
        
        OPEN c;

        FETCH NEXT FROM c INTO @MessageId, @Content;

        WHILE  @@FETCH_STATUS = 0
        BEGIN TRY
            -- Call the stored procedure for each row
        EXEC dbo.sp_GenerateSummary @MessageId, @Content;

        FETCH NEXT FROM c INTO @MessageId, @Content;
    END TRY
    BEGIN CATCH
       DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
       RAISERROR('Error generating keywords for MessageId %s: %s', 16, 1, @MessageId, @ErrorMessage);
    END CATCH

    CLOSE c;
    DEALLOCATE c;
END
