USE [AIChatHistory]
GO
/****** Object:  Trigger [dbo].[tr_generate_embeddings]    Script Date: 3/24/2026 11:45:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Kyle Crowder
-- Create date: 3/24/2026
-- Description:	Updates embeddings when Summary column changes
-- =============================================
ALTER TRIGGER [dbo].[tr_generate_embeddings]
ON [dbo].[ChatHistoryMessages]
AFTER INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    -- Prevent recursion
    IF TRIGGER_NESTLEVEL() > 1 RETURN;

    -- Only regenerate when Content changes
    IF NOT UPDATE(Content) RETURN;

    BEGIN TRY
        UPDATE t
        SET t.Embedding =
            CAST(
                AI_GENERATE_EMBEDDINGS(i.Content USE MODEL MXEMBED)
                AS VECTOR(1024)
            )
        FROM dbo.ChatHistoryMessages t
        INNER JOIN inserted i ON t.MessageId = i.MessageId
        WHERE i.Content IS NOT NULL;
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR('Error generating embeddings: %s', 16, 1, @ErrorMessage);
    END CATCH
END
